# Banco de dados e relatórios gerados
cyshield.db
cyshield.db-wal
cyshield.db-shm
reports/

# Python & Ambientes
__pycache__/
*.pyc
venv/
.env

# Arquivos temporários e alvos locais
targets.txt
subdominios.txt
